# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# =========================
# Entornos virtuales
# =========================
.venv/
venv/
env/
ENV/

# =========================
# Streamlit
# =========================
.streamlit/secrets.toml
